.header{
    width: 100%;
}
.bar{
    justify-content: center;
}
.content1{
    margin-right: 5%;
}
.content2{
    flex-direction: row-reverse;
    margin-left: 15%;
    margin-top: 1%;
    gap: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav-content{
    width: 100%;
    background-color: aliceblue;
}
.title{
    margin-left: 35%;
}
.content3{
    margin-left: 5%;
}
.content4{
    margin-left: 1%;
}
.content5{
    margin-left: 4%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.flex-container1{
    display: flex;
    flex-wrap: wrap;
}

.flex-vertikal{
    flex-direction: column;
}
.flex-horizontal{
    flex-direction: row;
}
.content{
    margin-right: 5%;
}
.content-flex{
    width: 100%;
}
.content-flex2{
    width: 50;
}
.card{
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin:1em;
    padding: 1em;
    display:inline-block;
    width: 250px;
    height:250px;
    display: flex;
}

.card-image{
    width: 250px;
    height: 130px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content{
   padding: auto;
}

.card-title, .card-text{
    color: black;
    margin: 1px;
}

.card-text2{
    text-decoration: none;
    color: black;
    padding: 60px;
}


.bg-content{
    background-color: whitesmoke;
}


@media screen and (max-width:608px){
    .flex-container1{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .content1{
        margin-left: 0%;
    }
    .content2{
        flex-direction: column-reverse;
        margin-left: 0%;
        margin-right: 14%;
        margin-top: 4%;
        gap: 20px;
    }
}